@model Contact
@{
    ViewData["Title"] = "Detail";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Basic Table</h6>
                <a asp-area="manage" asp-controller="blog" asp-action="Create" class="btn btn-success">Create</a>
                <table class="table">
                    <thead>
                        <tr>

                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Solution</th>
                            <th scope="col">Message</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td>@Model.Name</td>
                            <td>@Model.Email</td>
                            <td>@Model.Phone</td>
                            <td>@Model.Solution</td>
                            <td>@Model.Message</td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container ">
    <div class="row ">
        <h4>Message</h4>

        <form method="post" class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input class="Message form-control" cols="60" rows="10" />
            </div>
        </form>
        <div>
            <a asp-controller="contact" asp-action="send" asp-route-id="@Model.Id" class="accept btn btn-success btn-icon-text">
                <i class="mdi mdi-file-check btn-icon-append"></i>
                Send
            </a>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".accept").click(function (e) {
            e.preventDefault();
            var message = $(".Message").val();
            var link = $(this).attr("href") + "/?message=" + message
            fetch(link).then(res => res.json()).then(data => {
                if (data.status == 200) {
                    location.href = window.location.origin + "/manage/contact"
                } else {

                }
            })
        })
    })
</script>