@model List<Product>
@{
    ViewData["Title"] = "Index";
    int counter = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Basic Table</h6>
                <a asp-area="Manage" asp-controller="Product" asp-action="Create" class="btn btn-success">Create</a>
                <a href="@Url.Action("DownloadProductsExcel", "product")" class="btn btn-primary">Excel</a>
                <a href="@Url.Action("DownloadProductsPdf", "product")" class="btn btn-primary">Pdf</a>
                <a href="@Url.Action("DownloadProductsCsv", "product")" class="btn btn-primary">CSV</a>
                <a href="javascript:window.print()" class="btn btn-primary">Print</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Update</th>
                            <th scope="col">Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            counter++;
                            <tr>
                                <th scope="row">@counter</th>
                                @foreach (var ite in item.ProductImages)
                                {
                                    @if (ite.IsMain)
                                    {

                                        <td><img style="width:100px;" src="/img/shop/@ite.ImageUrl" /></td>
                                    }
                                }
                                <td>@item.Name</td>

                                <td>@item.Description</td>
                                <td>
                                    @if (item.IsDeleted)
                                    {
                                        <a class="btn btn-success text-white rounded-pill" style="margin-right:13px;width:118px" asp-action="Activity" asp-route-id="@item.Id">Active</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger text-white rounded-pill" style="margin-right:13px;width:118px" asp-action="Activity" asp-route-id="@item.Id">DeActive</a>
                                    }
                                </td>
                                <td><a asp-area="Manage" asp-controller="Product" asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning  ">Edit</a></td>
                                <td><a asp-area="Manage" asp-controller="Product" asp-action="detail" asp-route-id="@item.Id" class="btn btn-warning  ">detail</a></td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
 