@model List<Service>

@{
    ViewData["Title"] = "Index";
    int counter = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Basic Table</h6>
                <a asp-area="Manage" asp-controller="Tag" asp-action="Create" class="btn btn-success">Create</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tag Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            counter++;
                            <tr>
                                <th scope="row">@counter</th>
                                <td>@item.Name</td>
                                <td>
                                    @if (item.IsDeactive)
                                    {
                                        <a class="btn btn-success text-white rounded-pill" style="margin-right:13px;width:118px" asp-action="Activity" asp-route-id="@item.Id">Active</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger text-white rounded-pill" style="margin-right:13px;width:118px" asp-action="Activity" asp-route-id="@item.Id">DeActive</a>
                                    }
                                </td>
                                <td><a asp-area="Manage" asp-controller="Service" asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning  ">Edit</a></td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>