@model Order
@{
    ViewData["Title"] = "Edit";
    var oke = false;
    var ok = false;
}


<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-12 col-xl-12">
            <div class="rounded h-100 ">
                <h6 class="mb-4">Basic Table</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Fullname</th>
                            <th scope="col">Email</th>
                            <th scope="col">Country</th>
                            <th scope="col">City</th>
                            <th scope="col">Adress</th>
                            <th scope="col">Zipcode</th>
                            <th scope="col">Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.AppUser.FullName</td>
                            <td>@Model.AppUser.Email</td>
                            <td>@Model.CountryRegion</td>
                            <td>@Model.City</td>
                            <td>@Model.Address</td>
                            <td>@Model.ZipCode</td>
                            <td>@Model.Date.ToString("HH:mm dd,MMMM,yyyy")</td>
                            @if (Model.Status == null)
                            {
                                <td>Gozlenilir</td>

                                ok = true;
                            }
                            else if (Model.Status == true)
                            {
                                <td>Qebul edilib</td>
                                oke = true;
                            }
                            else
                            {
                                <td>Redd edildi</td>
                            }
                            <td>@Model.TotalPrice</td>

                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
        <div class="col-sm-12">
            <h3>Orders</h3>
            <ul class="list-group">
                @foreach (OrderItem item in Model.OrderItems)
                {
                    @if (item.Name != null)
                    {
                        <li class="list-group-item">
                            @item.Name
                        </li>
                    }
                    @if (item.Price != null)
                    {
                        <li class="list-group-item">
                            @item.Price
                        </li>
                    }
                    @if (!string.IsNullOrWhiteSpace(item.PackageName))
                    {
                        <li class="list-group-item">
                            @item.PackageName
                        </li>
                    }
                    @if (item.PacPrice != null)
                    {
                        <li class="list-group-item">
                            @item.PacPrice
                        </li>
                    }
                    <li class="list-group-item">Cras justo odio</li>
                }

            </ul>

        </div>
        <div class="col-sm-12">
            <h5>Message</h5>

            <form method="post">
                <div class="mb-3">
                    <input class="Message" cols="60" class="form-control" rows="10" />
                </div>
            </form>
            <div>
                @if (ok != true)
                {


                    @if (oke == false)
                    {

                        <a asp-controller="order" asp-action="Accept" asp-route-id="@Model.Id" class="accept btn btn-success btn-icon-text">
                            <i class="mdi mdi-file-check btn-icon-append"></i>
                            Qəbul et
                        </a>
                    }
                    else if (oke == true)
                    {

                        <a asp-controller="order" asp-action="Reject" asp-route-id="@Model.Id" class="reject btn btn-danger btn-icon-text">
                            <i class="mdi mdi-file-check btn-icon-append"></i>
                            Rədd et
                        </a>
                    }

                }
                else
                {

                    <a asp-controller="order" asp-action="Accept" asp-route-id="@Model.Id" class="accept btn btn-success btn-icon-text">
                        <i class="mdi mdi-file-check btn-icon-append"></i>
                        Qəbul et
                    </a>
                    <a asp-controller="order" asp-action="Reject" asp-route-id="@Model.Id" class="reject btn btn-danger btn-icon-text">
                        <i class="mdi mdi-file-check btn-icon-append"></i>
                        Rədd et
                    </a>
                }
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".accept").click(function (e) {
            e.preventDefault();
            var message = $(".Message").val();
            var link = $(this).attr("href") + "/?message=" + message
            fetch(link).then(res => res.json()).then(data => {
                if (data.status == 200) {
                    location.href = "https://localhost:7208/manage/order"
                } else {

                }
            })
        })
        $(".reject").click(function (e) {
            e.preventDefault();
            var message = $(".Message").val();
            var link = $(this).attr("href") + "/?message=" + message
            fetch(link).then(res => res.json()).then(data => {
                if (data.status == 200) {
                    location.href = "https://localhost:7208/manage/order"
                } else {
                }
            })
        })
    })
</script>
