@model Blog
@{
    ViewData["Title"] = "Detail"; 
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Basic Table</h6>
                <a asp-area="manage" asp-controller="blog" asp-action="Create" class="btn btn-success">Create</a>
                <table class="table">
                    <thead>
                        <tr>

                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">icon</th>
                            <th scope="col">Description</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Detail</th>
                            <th scope="col">#</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td><img style="width:100px;" src="~/img/blog-post/@Model.Image" /></td>
                            <td>@Model.Title</td>
                            <td>@Model.Icon</td>

                            <td>@Model.Description</td>
                            <td><a asp-area="manage" asp-controller="blog" asp-action="delete" asp-route-id="@Model.Id" class="btn btn-danger  ">Delete</a></td>
                            <td><a asp-area="manage" asp-controller="blog" asp-action="edit" asp-route-id="@Model.Id" class="btn btn-warning  ">Edit</a></td>
                            <td><a asp-area="manage" asp-controller="blog" asp-action="index" class="btn btn-warning  ">Back</a></td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>